.card {
  background-color: #121212;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  max-width: 200px;
  margin: auto;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6);
}

.album-img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  object-fit: cover; /* Añadido para mantener la proporción de la imagen */
}

.album-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap; /* Evita que el texto se rompa */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos para indicar desbordamiento */
}